#!/usr/bin/make -f

export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release

override_dh_auto_install:
	dh_auto_install --destdir=debian/cctv-viewer
	# Install systemd service template (@ services require manual enabling)
	install -D -m 644 debian/cctv-viewer.service \
		debian/cctv-viewer/usr/lib/systemd/system/cctv-viewer@.service

# Don't auto-enable/start the service - it's a template requiring a username
override_dh_installsystemd:
	dh_installsystemd --no-enable --no-start
